aiofiles==25.1.0
aiosqlite==0.22.1
asyncua==1.1.8
cffi==2.0.0
cryptography==48.0.0
paho-mqtt==2.1.0
pycparser==3.0
pyOpenSSL==26.2.0
python-dateutil==2.9.0.post0
pytz==2026.2
six==1.17.0
sortedcontainers==2.4.0
typing_extensions==4.15.0
